@import url(header.css);
@import url(main.css);

:root{
    --cor-banner: #c4baba;
    --cor-calculadora: #7c72728f;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }